[core]
  whitespace = trailing-space
  editor = vim
  excludesFile = ~/.gitignore
  page = delta
[user]
	email = info@mahush.de
	name = mahush
[merge]
  tool = meld
  conflictstyle = diff3
[mergetool "meld"]
  cmd = meld "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED" --diff "$BASE" "$LOCAL" --diff "$BASE" "$REMOTE" --auto-merge
[pager]
  show = delta
