[core]
  whitespace = trailing-space
  editor = vim
  excludesFile = ~/.gitignore
[user]
	email = info@mahush.de
	name = mahush
[merge]
    tool = meld
[mergetool "meld"]
  cmd = meld --auto-merge "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED"
